.about {
    display: grid;
    grid-template-columns:
        1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "head"
        "middle"
        "foot"
}

.about-grid-head {
    grid-area: head;
}

.about-grid-middle {
    grid-area: middle;
    padding: 0 4em;
}

.about-grid-foot {
    grid-area: foot;
}

.about-post-image {
    padding: 4em 0 2em 0;
}

.about-post-text {
    padding: 1em 0;
}

hr {
    margin: 1em 0;
    width: 50px;
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 800px 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .about-grid-head {
        grid-area: 1 / 1 / 2 / 4;
    }

    .about-grid-middle {
        grid-area: 2 / 2 / 3 / 3;
    }

    .about-grid-left {
        grid-area: 2 / 1 / 3 / 2;
    }

    .about-grid-right {
        grid-area: 2 / 3 / 3 / 4;
    }

    .about-grid-foot {
        grid-area: 3 / 1 / 4 / 4;
    }

    .about-post-image {
        padding-top: 4em;
    }

    .about-post-heading {
        padding: 1em 0;
    }

    .about-post-text {
        padding-bottom: 1em;
    }

    .accomplishments-heading {
        padding-top: 1em;
    }

}